// create user

mutation {
  createContact(input: {
    firstName: "Ian",
    lastName:"LS",
    email: "ian@mail.com",
    company: "Home Workers"
  }) {
    id
    firstName
  }
}

// get one contact by id

query {
  getOneContact(id: "63220ca7e8d3d5c83eb70c1d") {
    firstName
    lastName
    email
    company
  }
}

// get multiple queries with different parameters with aliases

query {
  one: getOneContact(id: "63220ca7e8d3d5c83eb70c1d") {
    firstName
    lastName
    email
    company
  }
  two: getOneContact(id: "63220ce1e8d3d5c83eb70c1f") {
    firstName
    lastName
  }
}

// get data with aliases and fragments

query {
  one: getOneContact(id: "63220ca7e8d3d5c83eb70c1d") {
    ...contactFragment
  }
  two: getOneContact(id: "63220ce1e8d3d5c83eb70c1f") {
    ...contactFragment
  }
}

fragment contactFragment on Contact {
  firstName
  lastName
  company
}